.about-header-section {
  margin: 20px;
  font-size: 28px;
  color: #ec5242;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  text-align: center;
  color: #272a31;
  margin: 20px;
}

.contact span {
  text-decoration: underline;
}

.about-logo h3 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #272a31;
}

.header-sub-section-about-us {
  margin: 20px;
  padding: 20px;
  background-color: #d3d3d3;
  color: #272a31;
  line-height: 25px;
}

.logo-presentation {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #272a31;
  margin-left: 50px;
  margin-right: 50px;
}

.the-logo {
  width: 80%;
  height: auto;
  margin: auto;
  border: 1px solid #d3d3d3;
  margin-top: 50px;
}

.the-logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 50px;
}

hr {
  margin-top: 50px;
}

.festivals {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.each-festival-first {
  background: linear-gradient(rgba(236, 82, 66, 0.6), rgba(236, 82, 66, 0.6)), url(../img/lagos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.each-festival-second {
  background: linear-gradient(rgba(236, 82, 66, 0.6), rgba(236, 82, 66, 0.6)), url(../img/Abuja.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.each-festival h3 {
  font-size: 50px;
  font-weight: bolder;
}

.each-festival p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  .header-sub-section-about-us {
    margin: auto;
    padding: 100px 50px 100px 50px;
    background-color: #d3d3d3;
    color: #272a31;
    line-height: 25px;
    width: 50%;
    text-align: center;
  }

  .the-logo {
    width: 30%;
    height: auto;
    margin: auto;
    border: 1px solid #d3d3d3;
    margin-top: 50px;
  }

  .festivals {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin-top: 20px;
  }

  .about-footer-container {
    display: flex;
    justify-content: center;
    column-gap: 65%;
    align-items: center;
    padding: 40px;
    background-color: #272a31;
    margin-top: 10px;
  }

  .logo img {
    filter: grayscale(100%);
  }

  .footer-text p {
    color: #fff;
  }
}
