*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'lato',sans-serif;
}
header{
    background-image: url(img/4964089.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: grayscale(100%);
    padding-bottom: 100px;
}
.nav-bar{
    display: flex;
    padding: 20px;
}
.ham-bugger{
    font-size: 32px;
}

.header-section{
    margin: 20px;
    font-size: 28px;
    color: #ec5242;
}
.header-sub-section{
    margin: 20px;
    padding: 20px;
    background-color: #d3d3d3;
    color: #272a31;
    line-height: 25px;
}
.date{
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #272a31;
}
.venue{
    margin-left: 20px;
    color: #272a31;
    
}

.festival-performances{
    background-image: url(img/sl_0210121_40570_53.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
    gap: 10px;
}

.text-title h3{
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.bar{
    width:50px;
    background-color: #ec5242;
    height: 2px;
    margin: auto;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    gap: 10px;
}
.divider-one{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    width: 35%;

}

.divider-two{
    width: 65%;
}

.item .icon{
    font-size: 30px;
    color: #fff;
}

.item h2 {
    font-size: 20px;
    color: #ec5242;
}

.item p {
    color: #fff;
    line-height: 20px;
}